extends layout
block content

    h1 calling
    video(id="local-video", autoplay).ui.small.image
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/semantic.min.js")
    script(src="/javascripts/simplewebrtc-with-adapter.bundle.js")
    script(src="/javascripts/video.js")
